<div class="noteCard">
    <a href="/notes/{{ id }}" class="noteLink">
        <div class="noteTitle">
            <h2>{{ title }}</h2>
            <h4>created by {{ user.username }} on {{ formatDate dateCreated }}</h3>
        </div>
    </a>
    <p>{{ content }}</p>
</div>