<section class="pageTitle">
    <h1>minka</h1>
</section>

<div class="blogpostCard">
    <div class="blogpostTitle">
        <h2>{{ blogpost.title }}</h2>
        <h4>Posted by {{ blogpost.user.username }} on {{ formatDate blogpost.dateCreated }}</h3>
    </div>
    <p>{{ blogpost.content }}</p>
</div>

{{#each blogpost.comments as |comment| }}
{{> comment }}
{{/each}}

{{#if logged_in}}
<div class="commentCard">
    <div class="commentTitle">
        <h2> </h2>
    </div>
    <form class="comment-form">
        <div class="form-group">
            <label for="comment-post">Comment</label><br>
            <input class="form-input" type="text" id="comment-post">
        </div>
        <input type="hidden" id="blogpostId" name="blogpostId" value="{{ blogpost.id }}">
        <div class="form-group">
            <button class="commentBtn" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="/js/comment.js"></script>
{{/if}}